@tailwind base;
@tailwind components;
@tailwind utilities;

.inputForm {
  @apply border-2 rounded-[20px] h-[40px] mx-auto px-[17px] placeholder:text-[15px] border-lightGreen placeholder:text-lightGreen placeholder:text-center font-semibold;
}
.errors{
    @apply ml-4 text-red-600 text-sm
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
